<div class="card mt-5 mx-auto pl-4" style="max-width: 540px;">
  <div class="row">
    <div class="col-sm-4">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "icon" %>
      <% else %>
        <%= image_tag "default.png", class: "icon card-img-top" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text">ユーザープロフィールを表示</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>