<% if logged_in? %>
  <p>ログインしています：　<%= current_user.name %></p>
<% else %>
  <div class="main">
    <div class="toppage_text">
      <h1>ダイエットを、見える化。</h1>
    </div>
  </div>
  
  <div class="row intro">
    <h2 class="offset-sm-2 col-sm-8 text-center mt-5">DietRecipeはダイエットをする時のレシピを提案し、<br>カロリー計算の手助けをしてくれるサービスです。</h2>
  </div>
  
  <div class="row appeal">
    <h4 class="offset-sm-4 col-sm-4 text-center mt-5">こんな悩みはありませんか？</h4>
    <div class="calculate mt-5 row">
      <%= image_tag "apple.jpg", size: "100x350", class: "offset-sm-2 col-sm-4 img" %>
      <div class="col-sm-4">
        <h3>毎回レシピを考えてカロリーを計算するのが面倒臭い<h3>
      </div>
    </div>
    <div class="calculate mt-5 row">
      <%= image_tag "cooking.jpg", size: "100x350", class: "offset-sm-2 col-sm-4" %>
      <div class="col-sm-4">
        <h3>ダイエットに成功している人が何を食べているか気になる<h3>
      </div>
    </div>
  </div>
<% end %>

