<% if logged_in? %>
  <p>ログインしています：　<%= current_user.name %></p>
<% else %>

  <div class="video">
    <%= video_tag("/videos/video.mp4", autoplay: true, loop: true, muted: true, class: 'video-content') %>
  </div>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそDietRecipeへ！</h1>
      <%= link_to "今すぐユーザー登録！", signup_path, class: "btn btn-lg btn-primary mt-3" %>
    </div>
  </div>
<% end %>